@model DEBusService.Models.routeStop

@{
    ViewBag.Title = "Details for " + ViewBag.RouteName;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Route Stop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Offset Minutes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offsetMinutes)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busStop.location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.routeStopId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
