@model DEBusService.Models.routeSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>routeSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Start Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            Weekday Schedule
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isWeekDay)
        </dd>

        <dt>
            Comment
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            Route Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busRoute.routeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.routeScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
