@model IEnumerable<DEBusService.Models.routeSchedule>

@{
    ViewBag.Title = "RouteStopSchedule";
}

<h2>Schedule <br /><small>Route @Model.FirstOrDefault().busRouteCode - @Model.FirstOrDefault().busRoute.routeName at @ViewBag.StopLocation</small></h2>


<h3>Monday-Friday</h3>
<ul>
    @foreach (var item in Model.Where(i => i.isWeekDay))
    {
        <li>@(item.startTime.Add(ViewBag.ts))</li>
    }
</ul>
<h3>Saturday-Sunday</h3>
<ul>
    @foreach (var item in Model.Where(i => !i.isWeekDay))
    {
        <li>@(item.startTime.Add(ViewBag.ts))</li>
    }
</ul>

