@model DEBusService.Models.trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tripDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tripDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bus.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bus.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.driver.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.driver.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.routeSchedule.busRouteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.routeSchedule.busRouteCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tripId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
