@model IEnumerable<DEBusService.Models.trip>

@{
    ViewBag.Title = "Bus Trips for " + Session["busRouteCode"] + " - " + Session["routeName"];
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Create", "Create")

@if (Model.ToList().Count > 0)
{
    <table>
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Driver</th>
            <th>Bus #</th>
            <th>Comments</th>
        </tr>
    </table>
    foreach (var item in Model)
    {
        <tr>
            <td>@item.tripDate</td>
            <td>@item.routeSchedule.startTime</td>
            <td>@item.driver.fullName</td>
            <td>@item.bus.busNumber</td>
            <td>@item.comments</td>
        </tr>
    }
}
else
{
    <p>No trips listed.</p>
}


