@model IEnumerable<DEBusService.Models.trip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tripDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bus.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.driver.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.routeSchedule.busRouteCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tripDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bus.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.driver.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.routeSchedule.busRouteCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tripId }) |
            @Html.ActionLink("Details", "Details", new { id=item.tripId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tripId })
        </td>
    </tr>
}

</table>
