@model IEnumerable<DEBusService.Models.trip>

@{
    ViewBag.Title = "Bus Trips for " + Session["busRouteCode"] + " - " + Session["routeName"];
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Create", "Create")

@if (Model.ToList().Count > 0)
{
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Driver</th>
            <th>Bus #</th>
            <th>Comments</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.tripDate.ToString("ddd dd MMM, yyyy")</td>
            <td>@item.routeSchedule.startTime</td>
            <td>@item.driver.fullName</td>
            <td>@item.bus.busNumber</td>
            <td>@item.comments</td>
        </tr>
        }
    </table>
}
else
{
    <p>No trips listed.</p>
}


